.container-card{
    background-color: burlywood;
    margin: 1rem;
    padding: 1rem;
    border-radius: 2rem;
    transition: all .5s ease-in-out;
}
.container-card > h2{
    margin: 0 0 1rem 0;
}
.container-card > img{
    border-radius: 2rem;
    border: 2px solid brown;
    max-width: 100%;
}
.card-info{
    display: flex;
    justify-content: space-around;
    color: white;
    font-size: 1.3rem;
}
.card-info > p > span{
    color: black;
    padding: 0 0 0 .5rem;
}